/* -*- mode: css -*- */
/* Created: Thu Jun  8 08:53:00 2017 */
/* $Id: $*/
/* Copyright (C) 2017 by Per Unneberg */
/* Author: Per Unneberg */

/* From Rstudio revealjs package */
/* <!-- some tweaks to reveal css --> */

.reveal h1 { font-size: 1.8em; }
.reveal h2 { font-size: 1.3em;  }
.reveal h3 { font-size: 1.15em;     }
.reveal h4 { font-size: 1em;        }

.reveal .slides>section,
.reveal .slides>section>section {
    padding: 0px 0px;
    min-height: 100%;
}

/* From previous custom css */
.reveal .slides section iframe {
  -webkit-transform: scale(0.5) translate(-50%, -50%);
  -moz-transform: scale(0.5) translate(-50%, -50%);
  transform: scale(0.5) translate(-50%, -50%);
  min-width: 200%;
  min-height: 200%;
  border: 1px solid LightSkyBlue;
  display: block;
  vertical-align: bottom;
}
.reveal .slides img{border:0;}


/* RStudio tweaks again */
.reveal table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: dotted;
    border-color: gray;
    border-collapse: collapse;
    font-size: 0.7em;
}

.reveal table th {
    border-width: 1px;
    padding-left: 10px;
    padding-right: 25px;
    font-weight: bold;
    border-style: dotted;
    border-color: gray;
    color: white;
    background-color: #666666;
}

.reveal table td {
    border-width: 1px;
    padding-left: 10px;
    padding-right: 25px;
    border-style: dotted;
    border-color: gray;
}
/* RStudio tweaks end */

.reveal pre {
    width: 100%;
    margin: auto;
    /* border: none;
    box-shadow: none; */
}

/* From http://stackoverflow.com/questions/5573855/how-to-make-a-stable-two-column-layout-in-html-css */
#container {
    display: table;
    border-spacing: 10px;
    border-collapse: separate;
    text-align: center;
    padding: 10px;
}
#left, #mid, #midright, #right {
    display: table-cell;
    vertical-align: top;
    border-spacing: 10px;
    padding: 10px;
    border-collapse: separate;
}
#left {
    width: 600px;
}
#right {
    width: 600px;
}
#mid {
    width: 400px;
}
#midright {
    width: 400px;
}

/* 6-column layout */
#col1, #col2, #col3, #col4, #col5, #col6 {
    display: table-cell;
    vertical-align: top;
    border-spacing: 10px;
    padding: 10px;
    border-collapse: separate;
    width: 200px;
}

/* 3-column layout */
#threec1, #threec2, #threec3 {
    display: table-cell;
    vertical-align: top;
    border-spacing: 5px;
    padding: 5px;
    border-collapse: separate;
    width: 400px;
}


.bibtex {font-size:4px;}

.tiny {
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }
